<div class="row">
    <div class="col-md-6 offset-md-3">
        <div *ngIf="weather; else waiting">
        <div class="col-sm-12 text-center">
            <div class="input-group mt-5">
                <input class="form-control" type="text" #userInput placeholder="Enter city name">
                <div class="input-group-append">
                    <button class="input-group-text btn btn-outline-primary" (click)="getCity(userInput.value)">Search</button>
                </div>
            </div>
    
            <h5>Current weather and forecasts</h5>
            <h2>{{ weather.name }}, {{ weather.sys.country }}</h2>
        </div>

        <div class="col-sm-12 text-center">
            <span class="temp"><img src="assets/{{ weather.weather[0].icon }}.png" alt="01d.png">
            {{ (weather.main.temp-32)*(5/9)  | number: '1.0-1' }} &#176;C</span>
            <p class="text-uppercase font-italic font-weight-bold">{{ weather.weather[0].description }}</p>
        </div>
        <table class="table table-light table-stripped table-bordered table-sm">
            <tbody>
                <tr>
                    <td>Humidity</td><td>{{ weather.main.humidity }}%</td>
                </tr>
                <tr>
                    <td>Pressure</td><td>{{ weather.main.pressure }} hpa</td>
                </tr>
                <tr>
                    <td>Sunrise</td><td>{{ weather.sys.sunrise * 1000 | date:'H:mm' }}</td>
                </tr>
                <tr>
                    <td>Sunset</td><td>{{ weather.sys.sunset * 1000 | date:'H:mm' }}</td>
                </tr>
                <tr>
                    <td>Geo Coords</td><td>{{ weather.coord.lat }}, {{ weather.coord.lon }}</td>
                </tr>
            </tbody>
        </table>
        <agm-map [latitude]="lat" [longitude]="lon" (mapClick)="getCoords($event)">
            <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
        </agm-map>
    </div>
    <ng-template #waiting>
        <img src="https://media.tenor.com/images/42143b23a4be8a1f857a206774f251fc/tenor.gif" alt="" *ngIf="locationDeined">

        <div class="input-group mt-5" *ngIf="locationDeinedEnableCity">
            <input class="form-control" type="text" #userInput placeholder="Enter city name">
            <div class="input-group-append">
                <button class="input-group-text btn btn-outline-primary" (click)="getCity(userInput.value)">Search</button>
            </div>
        </div>
    </ng-template>
    </div>
</div>