agm-map{
    height: 25rem;
}

h5, h2{
    font-family: Roboto, sans-serif;
    color: #505050;
    font-weight: 500;
    line-height: 33px;
    margin-top: 2rem;
}

h2, .temp{
    color: #505050;
    font-size: 20px;
    font-weight: 600;
}

p{
    color: blue;
    text-align: center;
    font-size: 1.5rem;
}